<header> <h1>Hello <span class="typing"></span></h1></header>

<div class="why-us">
  <h1>Learn why sales people <span id="sparkling_heart">💖</span> us.</h1>
</div>

<div class="why-us-details">
  <p>It's a new and improved work flow to</br>track all of your companies in one place </br>and stay up to date on their news</p>
</div>

<div class="go-ahead">
  <h1>What are you waiting for? Go ahead and give it a <span>🌀</span></h1>
  <br>
  <br>
  <br>
  <p>
    Start adding companies to your watchlist from the <a ui-sref="search"><span class="search-keyword">search</span></a> page--and let us know what you think
  </p>
</div>

<footer>

<p>
  made with <span>💙</span> by  <a href="https://github.com/heathermhargreaves">Heather</a>
</p>

</footer>
