<main class="watchlist" ng-repeat="ticker in companies">

<div class="company-info">
    <h3>{{ticker}}</h3>
    <a ng-click="getCompanyInfo(ticker)"><i class="flaticon-add"></i></a>
    <a ng-click="getCompanyNews(ticker)"><i class="flaticon-news"></i></a>

    <div class="company-details">
      <span><h4>{{companyName}}</h4> <h6>{{business_address`}}</h6></span>
      <p>{{long_description}}</p>
    </div>
    <div class="company-news">

    </div>
</div>



<!-- <watchlistcard-dir></watchlistcard-dir> -->

</main>
