@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
  width: 100vw;
}

/*navigation styling */
.nav-container {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: #fff;
}

.nav-link {
  color: #000;
  font-size: 20px;
  margin-right: 50px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
a:hover {
  color: #00A7E1;
}

#hamburger {
  color: #000;
  margin-left: 5vh;
}

#nav-mobile ul {
  margin-left: 5vh;
}

#nav-mobile ul li {
  height: 50px;
  color: #003459;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p,li,button,input {
  font-family: 'Open Sans';
  text-align: center;
}

button {
  background: #00A7E1;
  color: #FFFFFF;
  border-color: #00A7E1;
  padding: 8px 50px 8px 50px;
  border-radius: 3px;
  font-weight: 300;
}
button:hover {
  background: #FFFFFF;
  border-color: #00A7E1;
  color: #00A7E1;

}

/*search page styling*/
.search {
  background: #00A7E1;
  min-height: 80vh;
}
.search-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 7vh;
  background: #edecea;
  box-shadow: 0 15px 15px rgba(0,0,0,0.12), 0 15px 15px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  padding: 20px;
}

.ticker-form {
  display: flex;
  align-items: center;
  margin-left: 35vw;
}

hr {
  border: 1px solid black;
  width: 30vw;
}

input {
    font-size:18px;
    background-color: #FFFFFF;
    padding:10px 10px 10px 5px;
    /*display:block;*/
    width:30vw;
    border:none;
    border-bottom:3px solid #FFFFFF;
    background: #00A7E1;
    color: #FFFFFF
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus {
    outline:none;
}

input {
  text-transform: uppercase;
}

/*watch list styling*/
.watchlist {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  align-items: center;
  /*justify-content: space-around;*/
  background: #00A7E1;
  width: 100vw;
  min-height: 80vh;
}
.company-info {
  flex-direction: row;
  min-height: 10vh;
  margin-left: 10vw;
  margin-right: 3vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: #edecea;
  box-shadow: 0 15px 15px rgba(0,0,0,0.12), 0 15px 15px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

.company-info p {
  border: 2px solid #003459;
  margin: 5px;
  padding: 5px;
  background: white;
}

.company-news {
  border: 2px solid #003459;
  margin: 5px;
  padding: 5px;
  background: white;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5vh;
  padding-right: 20px;
}


/*About page styling*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

header {
  background: #00A7E1;
  color: white;
  font-family: 'Open Sans';
  font-size: 2.25em;
  display: flex;
  align-items: center;
  opacity: 1.2;
  padding: 20% 0% 20% 8%;
  height: 80vh;
}

.why-us {
  padding: 15%;
  font-size: 32px;
  color: #00161E;
}

.why-us-details {
  width: 100vw;
  height: 70vh;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(https://static.pexels.com/photos/7075/people-office-group-team.jpg);
    background-size: contain;
    background-size: cover;
  color: white;
  padding: 7%;
  font-size: 1.66em;
}

.go-ahead {
  padding: 10% 22% 10% 22%;
  font-size: 1.25em;
  color: #00161E;
}
.search-keyword {
  color: #252AFF;
}

/*end about styling*/

/*footer styling*/
footer {
  display: block;
  background: #00161E;
  height: 10vh;
  width: 100%;
  color: white;
  padding: 25px;
}

footer p {
  float: right;
}
/*footer a:hover {
  color: #00A7E1 !important;
}*/
/*end footer styling*/


/* media queries */

@media screen and (max-width: 768px) {
    .nav-link {
      display: none;
    }
    .nav-container {
      display: flex;
      justify-content: flex-start;
      position: static;
    }

    .watchlist {
      display: flex;
      flex-direction: row;
      /*flex-wrap: wrap;*/
      align-items: center;
      justify-content: space-around;
      background: #00A7E1;
      width: 100vw;
      min-height: 100vh;}
}

@media screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }

    main {
      padding-top: 10vh;
    }

    #nav-mobile {
      display: none;
    }
}
