@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

.nav-container {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  background-color: #fff;
}

.nav-link {
  color: #000;
  font-size: 20px;
  margin-right: 50px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
a:hover {
  color: black;

}


#hamburger {
  color: #000;
  margin-left: 5vh;
}

#nav-mobile ul {
  margin-left: 5vh;
}

#nav-mobile ul li {
  height: 50px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p,li,button,input {
  font-family: 'Open Sans';
  text-align: center;
}

button {
  background: #003459;
  color: #FFFFFF;
  border-color: #003459;
  padding: 8px 50px 8px 50px;
  border-radius: 3px;
  font-weight: 300;
}
button:hover {
  background: #FFFFFF;
  border-color: #003459;
  color: #003459;
  font-weight: 700;
}

.search-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 7vh;
  background: #edecea;
  box-shadow: 0 15px 15px rgba(0,0,0,0.12), 0 15px 15px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  padding: 20px;
}

.ticker-form {
  display: flex;
  align-items: center;
  margin-left: 35vw;
}

hr {
  border: 1px solid black;
  width: 30vw;
}

input {
    font-size:18px;
    background-color: #FFFFFF;
    padding:10px 10px 10px 5px;
    /*display:block;*/
    width:30vw;
    border:none;
    border-bottom:3px solid #c4c4c4;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c4c4c4;
  font-style: italic;
  font-weight: 300;
}
input:focus {
    outline:none;
}



/*About page styling*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

header {
  background: #00A7E1;
  color: white;
  font-family: 'Open Sans';
  font-size: 2.25em;
  display: flex;
  align-items: center;
  opacity: 1.2;
  padding: 20% 0% 20% 8%;
  height: 80vh;
}

.why-us {
  padding: 15%;
  font-size: 32px;
  color: #00161E;
}

.why-us-details {
  width: 100vw;
  height: 70vh;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(https://static.pexels.com/photos/7075/people-office-group-team.jpg);
    background-size: contain;
    background-size: cover;
  color: white;
  padding: 7%;
  font-size: 1.66em;
}

.go-ahead {
  padding: 10% 22% 10% 22%;
  font-size: 1.25em;
  color: #00161E;
}
.search-keyword {
  color: #252AFF;
}

/*end about styling*/

/*footer styling*/
footer {
  display: block;
  background: #00161E;
  height: 10vh;
  width: 100%;
  color: white;
  padding: 25px;
}

footer p {
  float: right;
}
/*footer a:hover {
  color: #00A7E1 !important;
}*/
/*end footer styling*/


/* media queries */

@media screen and (max-width: 768px) {
    .nav-link {
      display: none;
    }
    .nav-container {
      display: flex;
      justify-content: flex-start;
      position: static;
    }
}

@media screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }

    main {
      padding-top: 10vh;
    }

    #nav-mobile {
      display: none;
    }
}
